html, body {
    width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
}



.first {
	width: 100%;
	height: 75%;
	margin: 0px;
	overflow: hidden;
}

#slider {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	padding: 0px;
}
	
.prev, .next {
		position: absolute;
		z-index: 999;
		width: 100%;
		height: 100%;
	  text-decoration: none;
	  font-weight: 600;
	  cursor: pointer;
	}



.arrows {
	font-size: 3em;
}
	  
.arrow_left, .arrow_right {
	width: 28%;
	height: 100%;
	position: absolute;
}

.arrow_left {
	background: linear-gradient(to right, rgba(5, 5, 5, 0.25), transparent);
}

.arrow_right {
	background: linear-gradient(to left, rgba(5, 5, 5, 0.25), transparent);
	right: 0%;
}

.next {
	right: 0%;
}

.next:hover {
	background: linear-gradient(to left, rgba(5, 5, 5, 0.699), transparent);
}

.prev:hover {
	background: linear-gradient(to right, rgba(5, 5, 5, 0.699), transparent);
}

ul {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

.mtp1 {
	width: 100%;
	position: relative;
	bottom: 17%;
}

.mtp2 {
	position: relative;
	width: 100%;
	bottom: 17%;
}

.mtp3 {
	width: 100%;
	position: relative;
	bottom: 15%;
}

.second {
	width: 100%;
	height: 82%;
	margin: 0%;
	padding: 0%;
}

#map {
	height: 100%;
	padding: 0px;
}

#detail {
	margin-top: 15px 2%;
	padding: 2%;
}

.second_zone {
	position: relative;
	background-color: #4e7694;
	height: 100%;
}

.bike {
	color: #78bced;
}

.input_field {
	padding-left: 10px;
}

input[type=text]:not(.browser-default):not([readonly])+label, input[type=text]:not(.browser-default):not([readonly])::placeholder {
	color: white;
}

input[type=text]:not(.browser-default):not([readonly]) {
	border-bottom: 1px solid #78bced;
	color: white;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #78bced;
	box-shadow: 0 1px 0 0 #78bced;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
	color: #78bced;
}

.input-field input[type=text]:focus + label {
	color: #000;
}

#submit {
	border-radius: 50px;
	background: #78bced;
	font-weight: bold;
	display: block;
}

#submit:hover {
	box-shadow: 0px 10px 22px #003358c4;
}

.time_text {
	position: relative;
	top: 10%;
}






.footer {
	margin: 0px;
}

.page-footer {
	background-color: #78bced;
	padding: 0px;
}

.page-footer .footer-copyright{
	background-color: #4e769473;
	
}

a {
	color: #395c75;
}