body {
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}


.background {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: linear-gradient(127deg, #b639d2, rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, #fdaf00, rgba(0,0,255,0) 70.71%),
    linear-gradient(200deg, #f41d4e, rgba(255, 0, 0, 0) 70.71%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .chat {
      width: 70%;
      margin: 50px auto;
      background: rgba(255, 255, 255, 0.178);
      padding: 30px;
  }

  .chatzone {
    margin: 0px auto;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    width: 100%;
    height: 600px;
    background: rgba(59, 59, 59, 0.178);
    /* background: linear-gradient(200deg, #f41d4e70, rgba(255, 0, 0, 0) 70.71%),
                linear-gradient(127deg, #b639d273, rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, #fdaf0073, rgba(0,0,255,0) 70.71%); */
  }

  .chatzone:hover {
      overflow-y: visible;
  }

  .formzone {
      width: 100%;
      margin: 0px auto;
      background: rgba(59, 59, 59, 0.178);
      padding: 15px;
      box-shadow: 0px -10px 80px -35px rgba(0,0,0,0.6);
      border-radius: 0px 0px 5px 5px;
  }

  .dateElt {
      color: rgb(109, 12, 121);
      border-top: 0.1px solid rgb(109, 12, 121);
      padding-top: 20px;
  }

  .messageElt {
      color: #fcf0ff;
  }

  #pseudo, #message {
      width: 100%;
      height: 40px;
      background: transparent;
      border-color: #b639d2;
      padding-left: 10px;
      color: #fcf0ff;
      margin: 0px;
  }

  #pseudo {
      width: 20%;
  }

  #message {
      width: 85%;
      max-height: 100px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: hidden;
      padding-left: 10px;
  }

  #submit {
      width: 13%;
      position: relative;
      top: 0.6em;
      border-radius: 50px;
  }

  input[type=text]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
      overflow-y: visible;
      border-bottom: 1px solid rgb(153, 98, 160);
      box-shadow: 0 1px 0 0 #B4166F;
  }

  #message::placeholder{
      color: #fcf0ff;
  }

  #submit {
      background: #00c853;
  }

