html,body {
  height: 100%;
  margin: 0px;
}

.fond {
  position: relative;
  height: 100%;
  background-image:linear-gradient(60deg, #b005b3, #0892ff);
}

.content {
  position: relative;
  height: 100%;
}

.first {
  position: absolute;
  height: 70px;
  border: 2px solid black;
  background: white;
  border-radius: 3px;
  margin: 0 auto;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 18px;
  margin-top: 50px;
}